*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: Century Gothic;

}
body{
	margin:0;
	padding:0;
	background: url(images/abstract_go.png);
	height:45em;
	width: 90em;
	overflow:auto;
}

.buyticket{
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  float:left;
  

}
.buyticket h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.buyticket form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: rgb(231, 71, 60);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(231, 71, 60);
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: rgb(231, 71, 60);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
.blank{
  margin: 40px 0 20px 20px;
}
form .time_field{
  position: relative;
  margin: 10px 0;
  
}
.time_field input{
  position: relative;
  padding-left:10px;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: rgb(231, 71, 60);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: black;
  transition: .5s;
}

.slc_field {
  margin: 20px 0;
}

.slc_field select {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
  margin-left:350px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #F67329;
}

.seat.occupied {
  background-color: red;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: gray;
  height: 70px;
  width: 100%;
  margin: 15px -165px 15px -165px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: rgb(231, 71, 60);
}

.myDiv{
	display:none;
    text-align:center;
}  
.myDiv img{
  margin: 0 auto;
}
.myDiv span{
	text-align: center;
    background: #ffdede;
    padding: 6px 10px;
    display: block;
    width: 100px;
    border: 1px solid #d47c7c;
    margin: 8px auto;
}

