@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color:#1e1f26;
    border-radius: 2rem;
    color: rgb(231, 71, 60);
    transition: .3s;
    
}

.btn:hover {
    background-color: rgb(231, 71, 60);
    color: white;
}

.btn-l {
    width: 100%;
    text-align: center;
}

body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
    
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    margin-bottom: 20px;
    background-color:rgb(231, 71, 60) ;
    border-radius: 10px;
}
.top-bar .navigation li a{
  margin-left: 20px;
  padding-right: 3px;
}

.left-content{
    display: flex;
    align-items: center;
}


.title {
    margin-right: 3rem;
    color: rgb(240, 240, 240);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 1rem;
}

.navigation li a:hover {
    color: rgb(240, 240, 240);
}

.active {
    color: rgb(240, 240, 240);
}

.filter,
.cart,
.help,
.menu {
    position: relative;
    width: 20px;
    height: 20px;
}

.filter,
.cart,
.help {
    margin-right: 1rem;
}

.menu {
    margin-left: .8rem;
}

.filter,
.menu {
    display: none;
}

.profile-img-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}


.main-container {
    color: #adadad;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.upcoming-img-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.upcoming-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: rgb(231, 71, 60);
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid rgb(231, 71, 60);
    font-weight: 500;
}

.buttons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt {
    background-color: #1e1f26;
    color: rgb(231, 71, 60);
    border: 1px solid rgb(231, 71, 60);
    margin-left: 1rem;
}

.btn-alt:hover {
    color: white;
    background-color: rgb(231, 71, 60);
}


.movies-container {
    padding-bottom: 2rem;
}

.current-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 20px;
}

.current-movie {
    background: linear-gradient( rgb(231, 71, 60), rgba(205, 140, 56, .15));
    padding: 1rem;
    border-radius: .5rem;
}

.cm-img-box {
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title {
    color: black;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    color: rgb(231, 71, 60);
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.end_content{
	height:2em;
	margin: 0em;
	border: .1px outset white ; 
	border-top: 1px outset white ;
	clear:left;
	overflow:auto;
	backdrop-filter:blur(10px) brightness(60%);
		
}
.copyrights {

	float:left;
	clear:left;
	font:bold 0.8em Century Gothic,sans-serif;
	color: white;
	position:relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.accepted-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;

}
.return-button{
    display: inline-block;
    padding: .5rem 1rem;
    background-color:#1e1f26;
    border-radius: 2rem;
    color: rgb(231, 71, 60);
    transition: .3s;
    cursor: pointer;
}
.return-button:hover {
    color: white;
    background-color: rgb(231, 71, 60);
}
.thanku-text{
    display: inline-block;
    padding: 50px;
    background-color:#1e1f26;
    border-radius: 2rem;
    color: rgb(231, 71, 60);
    transition: .3s;
}
.thanku-text h1{
    padding-bottom: 75px;
}
.hero{
    height: 100vh;
    width: 100%;
    background: white;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
  }
  .logo{
    color: #262728;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  nav ul{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
  }
  nav ul li a{
    color: #262728;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: #00bf9f;
    transition: .3s;
  }
  .btn{
    border: 2px solid #ff0000;
    padding: 12px 25px;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .btn:hover{
    background:rgb(231, 71, 60);
    color: white;
    transition: .3s;
  }
  header{
    width: 92%;
    margin: 0 auto;
    padding: 13px 0;
    position: absolute;
    top: 40px;
    left: 30px;
    right: 30px;
    border-radius: 50px;
    z-index: 2;
    background: white;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
  }
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
  }
  .content h1{
    font-size: 50px;
    color: #262728;
    line-height: 110px;
    margin-bottom: 25px;
  }
  .content p{
    font-size: 14px;
    color: #585858;
    line-height: 28px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-weight: bold;
  }
  button{
    background: #262728;
    border: 2px solid transparent;
    padding: 10px 32px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  button:hover{
    transform: scale(1.2);
    transition: .3s;
    cursor: pointer;
  }
h2{
    margin-bottom: 10px;
}
